---
import styles from './MarqueeSection.module.css';

const text = "DONDE LA MÚSICA Y LA TECNOLOGÍA CONVERGEN / ";
---

<section class={styles.marqueeContainer}>
    <div class={styles.marqueeContent}>
        <div class={styles.marqueeTrack}>
            <span class={styles.marqueeText}>
                {text}
            </span>
            <span class={styles.marqueeText}>
                {text}
            </span>
        </div>
    </div>
</section>

